.loaded-content {
  width: 100%;
  height: 100%;
  .loaded-images {
    width: 100%;
    height: calc(70% - 25px);
    .loaded-swiper-container {
      width: 100%;
      height: 100%;
      @include themed() {
        background: t('element-background-secondary');
      }
    }
    .loaded-image-tag {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .loaded-text {
    width: 100%;
    height: calc(30% - 25px);
    overflow: auto;
    hr {
      margin: 0 auto;
      width: 80%;
    }
    h3 {
      padding: 0.6rem;
      text-align: center;
      margin: 0;
      font-size: 1.3rem;
    }
    .loaded-text-description {
      p {
        font-size: 0.9rem;
        padding: 0.6rem;
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
  .loaded-links-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    .loaded-links {
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: 0.35s all ease;
      min-width: 120px;
      display: inline-block;
      text-align: center;
      margin: 0 2rem;
      @include themed() {
        background: t('button-background');
        &:hover {
          background: t('button-background-hover');
        }
      }
    }
  }
}

