.loaded-content {
  width: 100%;
  height: 100%;
  // display: flex;
  .loaded-images {
    width: 100%;
    height: 70%;
    .loaded-swiper-container {
      width: 100%;
      height: 100%;
      background: rgba(200, 200, 200, 0.1);
    }
    .loaded-image-tag {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .loaded-text {
    width: 100%;
    height: 25%;
    overflow: auto;
    hr {
      margin: 0 auto;
      width: 80%;
    }
    h3 {
      padding: 0.6rem;
      text-align: center;
      margin: 0;
      font-size: 1.3rem;
    }
    .loaded-text-description {
      p {
        font-size: 0.9rem;
        padding: 0.6rem;
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
  .loaded-links-container {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    .loaded-links {
      // position: absolute;
      padding: 0.5rem 1rem;
      background: rgba(200, 200, 200, 0.2);
      border-radius: 4px;
      transition: 0.35s all ease;
      min-width: 120px;
      display: inline-block;
      text-align: center;
      &:hover {
        background: rgba(255, 255, 255, 0.2)
      }
    }
    // .next {
    //   bottom: 1rem;
    //   right: 1rem;
    // }
    // .prev {
    //   bottom: 1rem;
    //   left: 1rem;
    // }
  }
}

