@media (max-width:600px) {
  #index-header {
    flex-direction: column !important;
  }
  .trois {
    margin: 10px auto !important;
  }
  .un {
    display: none !important;
  }
}

.antique-grid {
  justify-content: center;
  text-decoration: none;
}

#index-header {
  display: flex;
  justify-content: space-between;
  .un {
    width: 125px;
  }
  .deux {
    width: auto;
    text-align: center;
  }
  .trois {
    width: 125px;
    display: flex;
    align-items: center;
  }
}

#index-top-separator {
  margin-top: 0 !important;
}

#index-bottom-separator {
  margin-bottom: 2vh;
}

#titre-index {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gauche {
  width: 20%;
  height: 48px;
  margin-top: 20px;
}

.droite {
  width: 20%;
  height: 48px;
  margin-top: 20px;
}

.pagination {
  justify-content: center;
  li {
    margin-left: 5px;
    margin-right: 5px;
  }
  a {
    color: rgba(40, 40, 40, 0.7);
    padding-right: 6px;
    padding-left: 5px;
    border-radius: 50%;
  }
  .active {
    a {
      color: black;
      text-decoration: underline;
    }
  }
}
