// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-background: rgb(35, 35, 35);
$dark-color-2: rgb(180, 180, 180);
$dark-color-1: rgb(230, 230, 230);
