.container-general {
  min-height: calc(100vh - 40vh - 1px);
  font-family: 'Karla', sans-serif;
}

.jtt {
  text-align: justify;
  text-align-last: center;
}

#new-session-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.new-session-parent-container {
  display: flex;
  justify-content: center;
}

#new-session-title {
  margin-top: 2vh;
}

p {
  font-size: 0.94rem;
}
