.container-general {
  min-height: calc(100vh - 40vh - 1px);
  font-family: 'Karla', sans-serif;
}

.jtt {
  text-align: justify;
  text-align-last: center;
}

#new-session-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.new-session-parent-container {
  display: flex;
  justify-content: center;
}

#new-session-title {
  margin-top: 2vh;
}

p {
  font-size: 0.94rem;
}

// #category_title {
//   text-align: center;
// }

// CARDIFIER LE CONTENU DE PAGE END
// #antiquites-container {
//   text-align: center;
//   margin-top: 3vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   text-justify: distribute;
// }

// .navfoot {
//   width: 100vw;
// }

// .contact-link-body {
//   font-size: 1.2rem;
//   color: grey;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
//   &:hover {
//     color: lightgray;
//   }
// }
