.banner-home {
  height: 50vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;

  color: white;
  body.dark & {
    color: $dark-color-1;
  }
}

.content {
  text-align: center;
}

.home-hr {
  width: 80%;
  align: center;
  margin: 4vh auto;
}

#map {
  width: 100%;
  height: 240px;
  margin-bottom: 40px;
}

table {
  margin: 0 auto;
  td {
    padding: 3px 3vw;
  }
  .day-td {
    text-align: right;
  }
  .info-td {
    text-align: left;
  }
}
