<%= link_to antique_path(antique), class: "a-card" do %>

  <div class="card index-card">
    <% if antique.photo.attached? %>
      <%= cl_image_tag antique.photo.key, alt: antique.title, class: "card-img-top" %>
    <% else %>
      <%= image_tag "no-photo.png", alt: antique.title, class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= antique.title %></p>
    </div>
  </div>

<% end %>
