<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/antiquite.acanthis" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Acanthis Antiquités, Jérôme Henry - ©2019
  </div>
</div>
