<div class="container">
  <div id="antiquites-container">
    <!-- ACHAT VENTE -->
      <!-- <h1>Achat comptant et Vente d'antiquités</h1>
      <p class="jtt">
        Acanthis est un magasin d'antiquités situé dans le quartier Wilson à Dijon. Jérôme Henry
        se charge de l'achat de vos objets et meubles anciens avec passion et vous reçoit pour répondre
        au mieux à vos attentes.
      </p> -->
      <%#= image_tag "achatvente1.jpg", alt: "Achat/Vente1" %>
      <%#= image_tag "achatvente2.jpg", alt: "Achat/Vente2" %>
      <%#= image_tag "achatvente3.jpg", alt: "Achat/Vente3" %>
      <!-- <h3>Jérôme Henry, antiquaire à Dijon</h3>
      <p class="jtt">
        En prenant rendez-vous avec moi au 03 80 66 31 57, je vous proposerai un déplacement
        gratuit afin d'évaluer ce que vous désirez vendre et vous en faire une estimation.
        Tout objet présent dans mon magasin ayant été acheté comptant, vous pouvez m'appeler
        pour tous types d'estimations.<br>
        Dans un premier temps, le plus simple est de m'envoyer quelques photos sur mon portable
        par MMS au 06 70 77 41 05 ou par e-mail à acanthis.21@free.fr ainsi je pourrai préparer
        notre rendez-vous et, au pire, vous rediriger vers un confrère ou vous conseiller un
        autre mode de mise en vente.<br>
        Ensuite nous pourrons convenir d'un rendez-vous.
      </p>

      <p>
        Voici quelques exemples d'objets que je suis susceptible d'acheter et de vendre :
      </p>

      <p class="jtt">
        Mobilier ancien  -  Horlogerie & luminaires  -  Art asiatique  -  Peinture & dessins<br>
        Jouets & instruments de musique  -  Livres & photographies  -  Arts de la table<br>
        Archéologie  -   Tapis & tapisseries  -  Curiosités & objets de vitrine<br>
        Vins anciens  -  Statues & décorations de jardin  -  Décoration vintage<br>
      </p> -->

    <!-- ACHAT VENTE END -->

    <!-- SUCCESSION PARTAGE -->
      <!-- <h1>Succession et Partage</h1>
      <p class="jtt">
        Jérôme Henry essaie de proposer divers services pour faciliter vos héritages et
        partages, lors d'une succession.<br>
        On se retrouve souvent un peu démuni devant le nombre d'objets, de meubles ou
        tout simplement devant le bazar dont il faut s'occuper lors d'une succession.<br>
        Tout vendre ?         Et le regretter plus tard ?<br>
        Tout garder ?         Et vivre tourné vers le passé ?
      </p>

      <h3>Jérôme Henry antiquaire : estimation et achat d'objets anciens</h3>

      <p class="jtt">
        Je vous propose un inventaire estimatif des objets de valeur, suivi d'un conseil
        qui vous permettront de prendre une décision raisonnable et de faire un partage
        équilibré entre les héritiers potentiels.
        Puis un rachat partiel ou total des objets restants.<br>
        Et enfin une solution de débarras (voire de ménage) qui permet de ne pas s'encombrer
        l'esprit avec le traitement du négligeable.
        Le but étant de rendre les clefs au notaire ou de mettre le bien en vente rapidement.
      </p>

      <table>
        <tr>
          <td class="antiquites-tableau">Que Faire?</td>
          <td class="antiquites-tableau">Tout garder? Pourquoi?<br>Tout vendre? Combien?<br>Resasser? Regretter?<br></td>
        </tr>
        <tr>
          <td class="antiquites-tableau">Solutions Acanthis:</td>
          <td class="antiquites-tableau">Inventaire estimatif (partage éventuel)<br>Rachat comptant ou courtage<br>Solution de débarras<br>Option Ménage</td>
        </tr>
        <tr>
          <td class="antiquites-tableau">Résultat:</td>
          <td class="antiquites-tableau">Gain de temps<br>Esprit libéré<br>Déplacement rapide et gratuit</td>
        </tr>
      </table>
 -->
  </div>
</div>
