<div class="banner-home" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('<%= image_url('home-banner.jpg')%>');">
  <div class="container banner-container">
    <h5>Dij'Antik & SNCAO</h5>
    <h1>Acanthis Antiquités</h1>
    <h2>Jérôme Henry à Dijon</h2>
  </div>
</div>
<div class="container content">
  <hr class="home-hr">
  <p class="jtt">
    Installée dans le quartier Wilson de la ville de Dijon depuis 1841,
    la Maison Henry-Jacotot se diversifie dans l'antiquité en 1975.
  </p>
  <p class="jtt">
    Antiquaire depuis deux générations, installé depuis 1994 à Dijon au
    10 bis de la rue d'Auxonne, Jérôme Henry, curieux et passionné est
    spécialisé dans les objets insolites et l'art africain, mais propose
    également divers services d'estimation, d'inventaire et de débarras.
  </p>
  <hr class="home-hr">
  <h3>Achat / Vente / Courtage</h3>
  <h6>Magasin d'exposition au 10 rue d'Auxonne, 21000 Dijon </h6>
  <p>Achat comptant / Vente et courtage d'antiquités.</p>
  <p>Déplacement gratuit</p>
  <p>Estimations, inventaires, partage, débarras & nettoyage</p>
  <p class="jtt">

  </p>
  <table>
  <tr>
    <td class="day-td">Lundi</td>
    <td class="info-td">Sur Rendez-vous</td>
  </tr>
  <tr>
    <td class="day-td">Mardi</td>
    <td class="info-td">Sur Rendez-vous</td>
  </tr>
  <tr>
    <td class="day-td">Mercredi</td>
    <td class="info-td">Sur Rendez-vous</td>
  </tr>
  <tr>
    <td class="day-td">Jeudi</td>
    <td class="info-td">10h-12h30  -  15h-19h</td>
  </tr>
  <tr>
    <td class="day-td">Vendredi</td>
    <td class="info-td">10h-12h30  -  15h-19h</td>
  </tr>
  <tr>
    <td class="day-td">Samedi</td>
    <td class="info-td">10h-12h30</td>
  </tr>
  <tr>
    <td class="day-td">Dimanche</td>
    <td class="info-td">Fermeture</td>
  </tr>
</table>
  <hr class="home-hr">


<!-- CAROUSEL -->

<div class="carousel-home-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <% @antiques.each_with_index do |antique, i| %>

          <div class="swiper-slide">
            <div class="swiper-slide-inside">
              <%= link_to antiques_path(category: antique.category) do %>
                <% if antique.photo.attached? %>
                  <%= cl_image_tag antique.photo.key, width: 300, height: 300, crop: :fill, alt: "photo {antique.title}", class: "img-swiper-multi" %>
                <% else %>
                  <%= image_tag "no-photo.png", alt: "photo {antique.title}", class: "img-swiper-multi" %>
                <% end %>
              <% end %>
            </div>
          </div>

      <% end %>

    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-nav"></div>
    <div class="swiper-button-prev swiper-nav"></div>
  </div>
</div>

<!-- CAROUSEL END -->

  <hr class="home-hr">

    <!--The div element for the map -->
    <div id="map">
    </div>

  <hr class="home-hr">

</div>

