<div class="banner-home">
  <div class="container banner-container">
    <h5>Dij'Antik & SNCAO à Dijon</h5>
    <h1>Acanthis Antiquités</h1>
    <h2>Jérôme Henry à Dijon</h2>
  </div>
</div>
<div class="container content">
  <hr>
  <p>Installée depuis 1841 dans le quartier, la Maison Henry-Jacotot se diversifie et se lance dans l'antiquité en 1975 au
      10 bis de la rue d'Auxonne, sous l'enseigne de L'Escabelle.
      Devenu Acanthis en 1994, l'histoire dijonnaise de la famille Henry continue et Jérôme vous propose meubles et objets
      anciens pour toutes les bourses avec sincérité , passion et bonne humeur, à l'angle de la rue d'Auxonne et de la
      rue Coupée de Longvic.</p>
      <hr>
      <h3>Achat / Vente</h3>
  <p>Acanthis : achat comptant et vente d’objets d'antiquité Acanthis est un magasin d'antiquités situé dans le quartier Wilson.
      Jérôme Henry se charge de l' achat de vos objets et meubles anciens avec passion et vous reçoit pour répondre
      au mieux à vos attentes. Jérôme Henry, antiquaire à Dijon En prenant rendez-vous avec moi au 03 80 66 31 57,
      je vous proposerai un déplacement gratuit afin d'évaluer ce que vous désirez vendre et vous en faire une estimation.
      Tout objet présent dans mon magasin ayant été acheté comptant, vous pouvez m'appeler pour tous types d' estimations.</p>
      <hr>
<!-- CARROUSSEL -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <!-- CARROUSSEL END -->
</div>
