<div class="container">
  <div id="infos-container">
    <h1 id="infos-titre">Meubles et objets anciens à Dijon</h1>
    <h3>Achat / Vente / Courtage</h3>
    <div class="paragraphe">
      <p class="p-infos" id="infos-p-haut jtt">
        Magasin d'exposition au 10 rue d'Auxonne, 21000 Dijon
      </p>
    </div>

    <div class="d-flex">
      <%= image_tag "apropos1.jpg", alt: "A propos1" %>
      <div>
        <h3>Héritage / Succession</h3>
        <div class="paragraphe paragraph-list">
          <!-- <p class="p-infos jtt" id="infos-p-bas"> -->

                <p>- Déplacement gratuit</p>
                <p>- Inventaires</p>
                <p>- Estimations</p>
                <p>- Partages</p>
                <p>- Achat ou courtage</p>
                <p>- Débarras</p>
                <p>- Nettoyage</p>

          <!-- </p> -->
        </div>
      </div>
      <%= image_tag "apropos2.jpg", alt: "A propos2" %>
    </div>

    <h3>Engagements professionnels</h3>
    <p>- Président de Dij'Antik, organisation du salon des antiquaires de Dijon</p>
    <p>- Administrateur du SNCAO-GA, Syndicat National du Commerce de l'Antiquité, de l'Occasion et des Galeries d'Art</p>
    <p>Président départemental du SNCAO-GA</p>

  </div>
</div>
