<div class="container">
  <div id="salons-container">
    <h1>Dij'Antik - Salon des Antiquaires à Dijon</h1>
    <p class="jtt">
      Décembre 2016, alors que Dijon vient d'être nommée capitale de la grande région Bourgogne-Franche-Comté,
      Dijon-Congrexpo (gestionnaire du Parc des Expositions) et la ville de Dijon, prennent la décision de ne
      plus organiser le salon des antiquaires : institution dijonnaise depuis 44 ans et seule manifestation
      d'antiquités ou de brocante de la ville depuis l'abandon en 2013 des Puces dijonnaises. Les exposants
      n'apprendront cette décision que courant janvier, à leur plus grand étonnement.
    </p>
    <%= image_tag "Dijantik.jpg", alt: "Dij'Antik" %>
    <h3>Jérôme Henry, Patrick Damidot et Denis Favier créent Dij'Antik</h3>
    <p class="jtt">
      Dij'Antik, le nouveau salon des antiquaires de Dijon est né de ce refus en mars 2017.<br>
      Avec Patrick Damidot (antiquaire rue des Forges à Dijon) et Denis Favier (Shopping Dijon),
      nous avons décidé de reprendre l'organisation de cette manifestation en créant Dij'Antik,
      dont le seul but est de proposer aux dijonnais une nouvelle version de cet événement.<br><br>
      Trois mois après cette création et grâce à l'aide et au soutien actif de Congrexpo et du SNCAO-GA,
      (syndicat national du commerce de l'antiquité, de l'occasion et des galeries d'art), la première
      eut lieu du 19 au 25 Mai 2017.<br>
      Après plusieurs nuits blanches, d'interminables questions, malgré de nombreuses imperfections et
      une communication hésitante, 3700 visiteurs environ ont pu profiter de la sélection de 40 exposants
      venus de la France entière, qui, dans une bonne ambiance, ont présenté 2000 m2 d'exposition dans
      un décorum de belle qualité.<br>
      L'objectif est donc atteint, le lien n'est pas coupé entre l'antiquité et les dijonnais.
      Les nombreuses affaires réalisées laissent espérer un cru 2018 plus affiné et de meilleure qualité
      encore que le précédent.
    </p>
    <a href="https://res.cloudinary.com/acanthisdev/image/upload/v1581597204/Dij_Antik_Dossier_de_presse_ozuqqo.pdf" target="_blank" download="Dossier_de_presse_Dij'Antik">Dossier de presse Dij'Antik</a>
    <%= link_to "Contact", class: "contact-link-body", data: { toggle: "modal", target: "#newContactModal" }, id: "contact-navbar" do %>
      N'hésitez pas à me contacter pour un déplacement et une estimation de vos biens (service gratuit)
    <% end %>
  </div>
</div>
