<div class="container card-style">
  <div id="sncao-container">
    <h1>Syndicat Nation du Commerce de l'Antiquité, de l'Occasion et des Galeries d'Art</h1>
    <%= image_tag "SNCAOGA.png", alt: "SNCAO-GA" %>
    <h3>Jérôme Henry, représentant en Côte d'Or et membre du conseil d'administration</h3>
    <p>
      Le syndicat national du commerce de l'antiquité, de l'occasion et des galeries d'art
      moderne et contemporain (SNCAO-GA) a pour but de faciliter les relations entre les
      marchands de l'art et les acheteurs, en proposant une charte aux marchands qui s'engagent
      moralement sur la qualité, l'authenticité et la sincérité de ce qu'ils vendent et en
      proposant un label aux organisateurs de manifestations.<br><br>
      La SNCAO a fortement participé à la création du premier salon des antiquaires Dij'Antik
      et permis à la ville de Dijon et à ses antiquaires de continuer à mettre en valeur les
      objets, meubles anciens et antiquités.<br>
      J'ai le plaisir et l'honneur de représenter ce syndicat en Côte d'Or depuis 2002 et
      de faire partie depuis peu du conseil d'administration.
    </p>

    <%= link_to "Contact", class: "nav-link", data: { toggle: "modal", target: "#newContactModal" }, id: "contact-navbar" do %>
      Contactez Jérôme Henry (Acanthis)
    <% end %>
    <a href="http://www.sncao-syndicat.com/">Site du SNCAO-GA</a>
  </div>
</div>


