.index-card {
  width: 16rem;
  border-radius: 0 !important;
  border: none !important;
  cursor: pointer;
  // box-shadow:  0px 0px 12px rgba(40, 40, 40, 0.3);
  p {
    text-decoration: none !important;
    color: black !important;
  }
  p:hover {
    text-decoration: none !important;
    color: black !important;
  }
  &:hover {
    text-decoration: none !important;
  }
}

.card-img-top {
  height: 200px;
  background-position: top;
  object-fit: contain;
  background-color: black;
  border-radius: 0px !important;
}

a:hover {
  text-decoration: none !important;
}

.a-card {
  margin: 1px;
  height: 230px;
}

.card-body {
  // padding-top: 10px !important;
  // padding-left: 0px !important;
  padding: 10px 0 0 0 !important;
}

.card-info {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.card-links {
  text-decoration: none !important;
  color: gray;
  font-family: Karla;

  &:hover {
    color: rgba(0,0,0,.7);
  }
}




.card-img-top-visitor {
  // height: 200px;
  height: 16rem !important;
}

.a-card-visitor {
  height: 16rem !important;
}
