@media (max-width:600px) {
  .card-hover {
    opacity: 1 !important;
    justify-content: end;
    background-color: rgba(5, 5, 5, 0.3);
  }
}

@media (min-width: 601px) {
  .card-hover {
    opacity: 0;
    justify-content: center;
    background-color: rgba(5, 5, 5, 0.5);
  }
}

.index-card {
  background-image: image-url("no-photo.png");
  background-size: cover;
  border-radius: 0 !important;
  border: none !important;
  cursor: pointer;
  p {
    text-decoration: none !important;
  }
  p:hover {
    text-decoration: none !important;
  }
  &:hover {
    text-decoration: none !important;
  }
}

.card-img-top {
  height: 16rem;
  background-position: top;
  object-fit: contain;
  background-color: black;
  border-radius: 0px !important;
}

a:hover {
  text-decoration: none !important;
}

.a-card {
  margin: 1px;
  height: 16rem;
}

.card-hover {
  z-index: 1000;
  position: relative;
  z-index: 100;
  top: -16rem;
  left: 0;
  height: 16rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  text-align: center;
  align-items: center;
  width: 16rem;
  padding: 1.5rem;
  flex-direction: column;
  &:hover {
    opacity: 1;
  }
  h5 {
    width: 100%;
  }
}

.hover-title {
  color: white;
}

.card-text-transition {
  transform: translate(0, 100%);
}

.card-body {
  padding: 10px 0 0 0 !important;
}

.card-info {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.card-links {
  text-decoration: none !important;
  color: gray;
  font-family: Karla;
  width: 50%;
  padding: 0 0.5rem !important;
  margin: 0.2rem 0.5rem !important;

  &:hover {
    color: rgba(0,0,0,.7);
  }
}

.a-card-visitor {
  height: 16rem !important;
}
