.img-swiper-multi {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.swiper-slide-inside {
  height: 100%;
  background-color: black;
}

.swiper-container {
  height: 100%;
}

.carousel-home-container {
  height: 25vh;
}

.swiper-nav {
  color: lightgray !important;
}
