.ok-modal {
  width: 50%;
  margin: 1rem 0 2rem 0;
}

.modal-content {
  border-radius: 0px !important;
  border: none !important;
}

#loading-new-elem {
  width: 70px;
  height: 70px;
  display: none;
}

.submit-new-element-container {
  width: 100%;
}

.fillnewelem {
  width: 20%;
  display: flex;
  justify-content: center;
}

.submit-new-element {
  width: 60% !important;
}
