@media (max-width:600px) {
  .navbar-toggler {
    display: none;
  }
  #navbarSupportedContent {
    @include themed() {
      background-color: t('background-color-main');
    }
  }
  #log-out-link {
    margin: 10px 22vw !important;
  }
  .phone-menu {
    padding: 4px 30vw;
    height: 2rem;
  }
  .acanthis-menu {
    text-align: center !important;
    a {
      padding: 0.25rem 1.5rem !important;
    }
  }
  #log-out-link {
    margin: 0 !important;
  }
  .dropdown-menu {
    @include themed() {
      background-color: t('background-color-elements');
    }
  }
}
@media (min-width: 601px) {
  .phone-menu {
    display: none;
  }
  .acanthis-menu {
    padding: 0.25rem 1.5rem !important;
  }
}

.navbar-container {
  height: 24vh;
  text-align: center;
  position: sticky;
  top: -19.2vh;
  z-index: 1000;
  box-shadow: 0 0 15px rgba(200, 200, 200, 0.4);
  body.dark & {
    box-shadow: 0 0 15px rgba(55, 55, 55, 0.4);
  }
}
.navbar-lewagon {
  @include themed() {
    background-color: t('background-color-main');
    color: t('color-1');
  }
  justify-content: center !important;
  height: 20%;
  padding: 0 !important;
  font-family: 'Karla', sans-serif;
  .nav-link {
    color: grey ;
    body.dark & {
      color: $dark-color-2;
    }
    &:hover {
      color: black;
      body.dark & {
        color: $dark-color-1;
      }
    }
  }
}

#logo-navbar {
  height: 80%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  body.dark & {
    background-color: $dark-background;
  }
}

// ======================================================================
.dropdown-menu {
  border-radius: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
// ======================================================================

#logo-div {
  background-image: url(image-path('LOGO-LIGHT.png'));
  body.dark & {
    background-image: url(image-path('LOGO-DARK.png'));
  }
  height: 85%;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#navbarSupportedContent {
  width: 80%;
  justify-content: center;
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.photo-cat {
  color: grey !important;
  &:hover {
  color: black !important;
  }
}

.dropdown-flex {
  display: flex;
  .un {
    width: 100%;
  }
  .deux {
    width: 20%;
    text-align: right;
  }
}

#new-category-container {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-link-in-dropdown {
  padding: 0.25rem 1.5rem !important;
  text-align: center;
}
