// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/dark_mode";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "antiques/index";

hr {
  @include themed() {
    background: t('color-2-hover');
  }
}

.loaded-content {
  width: 100%;
  height: 100%;
  // display: flex;
  .loaded-images {
    width: 100%;
    height: 70%;
    .loaded-swiper-container {
      width: 100%;
      height: 100%;
      background: rgba(200, 200, 200, 0.1);
    }
    .loaded-image-tag {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .loaded-text {
    width: 100%;
    height: 30%;
    hr {
      margin: 0 auto;
      width: 80%;
    }
    h3 {
      padding: 0.6rem;
      text-align: center;
      margin: 0;
      font-size: 1.3rem;
    }
    .loaded-text-description {
      p {
        font-size: 0.9rem;
        padding: 0.6rem;
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
}

.modal-fullscreen {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  .modal-content-fullscreen {
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    @include themed() {

    }
  }
}

.antique-card-link {
  height: 120px;
  margin: 1rem auto;
  width: clamp(350px, 39rem, 45rem);
}

.card-product {
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: 0.35s all ease;
  &:hover {
    scale: 1.02;
  }
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p{
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards-grid {
  flex-wrap: wrap;
  display: flex;
}







